<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <meta name="autor" content="Misha Garg">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Misha Garg professional website">
    <title>Misha Garg</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Misha Garg</h1>
        <nav>
            <a href="../index.html" target="_self" class="navigation">About</a>
            <a href="cv.html" target="_self" class="navigation">Resume</a>
            <a href="fun.html" target="_self" class="navigation">Hobbies</a>
            <a href="contact.html" target="_self" class="navigation">Contact</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button type="button" onclick="showList()" id="buttonFun">Click to see...</button> -->
            <u1 id="funList">
                <li>playing soocer</li>
                <li>traveling</li>
                <li>listening to music</li>
                <li>hanging out with my friends</li>
            </u1>
        </div>
        <div id="item2">
            <img src="../static/daisies.png" alt="picture of daisies" class="funIMG">
        </div>
        <div id="item3">
            <iframe src="https://www.youtube.com/embed/CH50zuS8DD0">
            </iframe>
        </div>
        <div id="item4">
            <div class="container">
                <h2>Need Some Advice</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button type="button" onclick="getAdvice()" id="adviceButton">Get Advice</button>
            </div>
        </div>
    </div>
    <br>
    <footer>
        <p id="copyYear">
            designed and coded by Misha Garg
        </p>
    </footer>
    
</body>
</html>